/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/rubik-v20-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v20-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/rubik-v20-latin_cyrillic-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v20-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/rubik-v20-latin_cyrillic-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v20-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    /* font-weight: 400; */
}

.container {
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.header-site-begin {
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.site-logo {
    width: 276px;
    height: 45px;
    margin-right: 35px;
}

.header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
}

.header-dollar {
    margin-right: 25px;
    margin-left: 35px;
}

.header-list-item {
    margin-right: 10px;
    color: #555;
}


.header-list-item::before {
    margin-right: 3px;
    background-repeat: no-repeat;
    font-weight: 700;
    color: #2959CE;
    content: "";
}

.header-list-item:nth-child(1):before {
    content: "$";
}

.header-list-item:nth-child(2):before {
    content: "P";
}





.currency {
    font-weight: 700;
    color: #2959CE;
}

.header-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 450px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.search {
    width: 275px;
    margin-right: 25px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 41px;
    background-color: #FFFFFF;
    color: #8D8D8D;
    border: none;
    border-radius: 60px;
}

.search-box {
    position: relative;
}

.search-box::before {
    position: absolute;
    top: 0px;
    left: 10px;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;

}

.language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    background-color: #DCE6FF;
    border-radius: 39px;

}

.lang-uz {
    width: 30px;
    height: 30px;
    padding: 7px;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-weight: 400;
    font-size: 13px;
}

.lang-ru {
    padding-right: 6px;
    padding-left: 6px;
    font-size: 13px;
    line-height: 15px;
    color: #A6A6A6;
}

.login {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #7296EC;
    color: #FFFFFF;
    padding: 13px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.site-nav {
    width: 100%;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #D1D1D1;

}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F
}



.ads-shopme {
    margin-top: 40px;
}

.ads-link {
    text-decoration: none;

}

.ads-img {
    width: 100%;
    height: 128px;
    -o-object-fit: contain;
       object-fit: contain;
}

.hero-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 50px;

    list-style: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hero-item {
    margin-bottom: 10px;
    padding: 20px 17px;
    width: 393px;
    background-color: #F6F6F6;
    border-radius: 15px;
}

.hero-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #000;
}


.hero-center {
    margin-right: 10px;
    margin-left: 10px;
}

.hero-text {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.hero-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
}

.hero-tiny-img {
    margin-right: 10px;
}

.hero-box-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61
}


.hero-box-desc::before {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;

    content: "";
}

.kb-img {
    background-image: url(../images/kb.png);
    background-repeat: no-repeat;
}

.news-kb {
    background-image: url(../images/news.png);
    background-repeat: no-repeat;
}

.hitech-img {
    background-image: url(../images/hi-tech.png);
    background-repeat: no-repeat;
}

.digger-img {
    background-image: url(../images/digger.png);
    background-repeat: no-repeat;
}

.lenta-img {
    background-image: url(../images/lenta.png);
    background-repeat: no-repeat;
}

.tarantas-img {
    background-image: url(../images/newsLogo.png);
    background-repeat: no-repeat;
}

.tass-img {
    background-image: url(../images/tass.png);
    background-repeat: no-repeat;
}

.solenka-img {
    background-image: url(../images/solenka.png);
    background-repeat: no-repeat;
}


.invest-img {
    background-image: url(../images/invest.png);
    background-repeat: no-repeat;
}

.notification-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1050px;
    background-image: url(../images/article-back.svg);
    border-radius: 10px;
}

.not-text {
    width: 404px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 29px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

}

.not-link {
    width: 149px;
    margin-right: 70px;
    padding: 13px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #F78B3B;
    border-radius: 10px;
}


.world-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.world-news-container {
    margin-right: 10px;
}

.world-box-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.world-box-list {
    width: 796px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.world-box-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 17px;
    background-color: #F6F6F6;
    border-radius: 15px;
}

.world-img {
    margin-right: 15px;
}


.world-desc-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.world-desc-text {
    margin-top: 10px;
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.show-more {
    margin-top: 17px;
    padding: 17px 343px;
    background-color: #EAEAEA;
    border-radius: 10px;
}

.show-more-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000;
}

.main-box {
    border-radius: 15px;
    width: 393px;
}

.main-box-start {
    margin-bottom: 10px;
    padding: 1px;
    padding-left: 10px;
    background: #F6F6F6;
    border-radius: 15px;
}

.main-box-title {
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 17px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.main-list {
    margin: 0;
    /* margin-bottom: 10px; */
    padding: 0;
    padding-top: 25px;
    padding-left: 17px;
    list-style: none;
}


.main-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.main-text {
    margin-top: 8px;
    margin-bottom: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;
}

/* footer */

.footer-box {
    margin-top: 100px;
    background-color: #7297EF;
}

.footer-info {
    padding-top: 40px;
}

.box-link {
    padding-top: 40px;
}

.logo-link {
    width: 268px;
    height: 28px;
}

.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #CECECE;
}

.footer-title {
    width: 229px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer-list {
    margin-top: 45px;
    list-style: none;
}

.footer-item {
    padding-top: 20px;
}

.footer-link {
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF
}

.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-text {
    width: 161px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF
}

.footer-list-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 200px;
    padding-bottom: 40px;
    list-style: none;
}


/* Interest Page */


.new-homes {
    margin-bottom: 50px;
}

.time-list {
    margin-left: 3px;
}


.pepelas-img {
    background-image: url(../images/pepelas.png);
    background-repeat: no-repeat;
}

.dns-img {
    background-image: url(../images/dns.png);
    background-repeat: no-repeat;
}

.sputnik-img {
    background-image: url(../images/sputnik.png);
    background-repeat: no-repeat;
}

.reactor-img {
    background-image: url(../images/ireactor.png);
    background-repeat: no-repeat;
}

.company-img {
    background-image: url(../images/companya.png);
    background-repeat: no-repeat;
}

.fergana-img {
    background-image: url(../images/fe.png);
    background-repeat: no-repeat;
}

.techno-link {
    text-decoration: none;
    color: #000;
}


/* Techno Page */

.techno-box {
    margin-bottom: 60px;
}

.world-tech {
    padding-top: 50px;
}

.world-tech-info {
    width: 797px;
    margin-right: 10px;
}

.info-news {
    margin-bottom: 30px;
}

.info-news-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.info-news-text::before {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url(../images/fbm-article.png);
    background-repeat: no-repeat;
    content: "";
}

.content-info-heading {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.tech-img {
    margin-bottom: 25px;
}

.content-desc {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000
}



.last-desc {
    padding-bottom: 50px;
    border-bottom: 1px solid #D2D2D2;
}

.intersting-heading {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.intersting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    list-style: none;
}

.interesting-item {
    width: 393px;
    margin-right: 10px;
    padding-top: 20px;
    padding-right: 18px;
    padding-left: 17px;
    padding-bottom: 18px;
    background-color: #F6F6F6;
    border-radius: 15px;
}

.interesting-item:last-child{
    margin-right: 0;
}

.item-heading {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.interesting-text {
    margin-bottom: 23px;
    line-height: 22px;
    color: #4A4B4C;
}

.interesting-source {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;

}

.interesting-source::before {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    content: "";
}


.interesting-item:last-child .item-heading{
    padding-right: 39px;
}



/* Contact Page */

.contact {
    padding-top: 60px;
    padding-bottom: 100px;
}

.contact-info {
    font-weight: 500;
    line-height: 28px;
}

.contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 20px;
}

.contact-form {
    width: 696px;
    margin-right: 10px;

}

.fullname {
    margin-bottom: 10px;
}

.fullname-input {
    width: 343px;
    padding: 18px 0 18px 20px;
    border: 1px solid #00000033;
    border-radius: 10px;
}

.fullname-input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.fullname-input::-moz-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.fullname-input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.fullname-input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.fullname-input::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.email-input {
    width: 691px;
    margin-bottom: 10px;
}

.textarea {
    width: 691px;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 18px;
    padding-left: 20px;
    border: 1px solid #00000033;
    border-radius: 10px;
    resize: none;
    font-family: 'Rubik';
}

.textarea::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.textarea::-moz-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.textarea:-ms-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.textarea::-ms-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.textarea::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
}

.contact-list {
    padding: 0;
    background: #F6F6F6;
    border-radius: 10px;
    list-style: none;
}

.contact-item {
    width: 444px;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
}

.contact-item-title {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

}

.contact-item-text {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 19px;
}

.contact-item::after {
    display: block;
    padding-top: 20px;
    content: "";
    border-bottom: 1px solid #D2D2D2;
}

.contact-item:last-child::after {
    border: none;
    padding-bottom: 1px;
}

.submit-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 4px;
}

.send-btn {

    padding: 17px 30px;
    background: #7297EF;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
}