body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.header-site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
}

.header-start {
    display: flex;
    align-items: center;
}

.site-logo {
    width: 276px;
    height: 45px;
}

.header-list {
    display: flex;
    list-style: none;
}

.header-list-item {
    margin-right: 10px;
    color: #555;
}

.currency {
    font-weight: 700;
    color: #2959CE;
}

.header-end {
    display: flex;
    justify-content: space-between;
    width: 450px;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    width: 275px;
    height: 45px;
    background: #FFFFFF;
    color: #8D8D8D;
    border-radius: 60px;
    padding-left: 10px;
}

.language {
    background: #DCE6FF;
    border-radius: 39px;
    width: 70px;
    height: 36px;
}

.lang-uz {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 50%;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.lang-ru {
    font-size: 13px;
    line-height: 15px;
    color: #A6A6A6;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #7296EC;
    color: #FFFFFF;
    width: 89px;
    height: 45px;
    border-radius: 10px;
}

.site-nav {
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F
}

.hero {}

.ads-shopme {}

.ads-link {
    text-decoration: none;
}

.ads-img {
    width: 100%;
    height: 128px;
    object-fit: contain;
}

.hero-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.hero-item {
    width: 393px;
    background: #F6F6F6;
    border-radius: 15px;
    padding-left: 10px;
}

.hero-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #000;
}

.hero-heading {}

.hero-text {
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.hero-box {
    display: flex;
    align-items: center;
}

.hero-tiny-img {
    margin-right: 10px;
}

.hero-box-desc {
    font-size: 12px;
    line-height: 14px;

    color: #5E5F61
}

.notification-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    height: 100px;
    background-color: #ffd7ba;
    padding: 15px;
    border-radius: 10px;
}

.not-text {
    width: 404px;
    height: 52px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

}

.not-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    width: 149px;
    height: 50px;
    background-color: #F78B3B;
    border-radius: 10px;
}

.world-box {
    display: flex;
    justify-content: space-between
}

.world-box-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.world-box-list {
    list-style: none;
    width: 796px;
    background-color: #F6F6F6;
    border-radius: 15px;
}

.world-box-item {
    display: flex;
    align-items: center;
}

.world-img {
    margin-right: 10px;
}

.world-desc {}

.world-desc-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.world-desc-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    border-radius: 10px;
    width: 796px;
    height: 53px;
}

.show-more-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000;
}

.main-box {

    border-radius: 15px;
    width: 393px;
    padding: 10px;
}

.main-box-start {
    padding: 1px;
    background: #F6F6F6;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.main-box-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;

}

.main-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-list-item {}

.main-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;

}

.main-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;

}

/* footer */

.footer-box {
    background-color: #7297EF;
    padding: 10px;
    margin-top: 20px;
}

.logo-link {
    width: 268px;
    height: 28px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    width: 229px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer-list {
    list-style: none;
}

.footer-item {
    padding-top: 20px;
}

.footer-link {
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    width: 161px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF
}

.footer-list-bottom {
    display: flex;
    justify-content: space-between;
    width: 150px;
    list-style: none;
}