
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/rubik-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-500 - latin_cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/rubik-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v20-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-700 - latin_cyrillic */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/rubik-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    /* font-weight: 400; */
}

.container {
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.header-site-begin {
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-site {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-start {
    display: flex;
    align-items: center;
}

.site-logo {
    width: 276px;
    height: 45px;
    margin-right: 35px;
}

.header-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.header-dollar {
    margin-right: 25px;
    margin-left: 35px;
}

.header-list-item {
    margin-right: 10px;
    color: #555;
}

.currency {
    font-weight: 700;
    color: #2959CE;
}

.header-end {
    display: flex;
    justify-content: space-between;
    width: 450px;
    align-items: center;
}

.search {
    width: 275px;
    margin-right: 25px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 41px;
    background-color: #FFFFFF;
    color: #8D8D8D;
    border-radius: 60px;
}

.language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    background-color: #DCE6FF;
    border-radius: 39px;

}

.lang-uz {
    width: 30px;
    height: 30px;
    padding: 7px;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-weight: 400;
    font-size: 13px;
}

.lang-ru {
    padding-right: 6px;
    padding-left: 6px;
    font-size: 13px;
    line-height: 15px;
    color: #A6A6A6;
}

.login {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #7296EC;
    color: #FFFFFF;
    padding: 13px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.site-nav {
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #D1D1D1;

}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F
}



.ads-shopme {
    margin-top: 40px;
}

.ads-link {
    text-decoration: none;

}

.ads-img {
    width: 100%;
    height: 128px;
    object-fit: contain;
}

.hero-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 50px;

    list-style: none;
    flex-wrap: wrap;
}

.hero-item {
    margin-bottom: 10px;
    padding: 20px 17px;
    width: 393px;
    background-color: #F6F6F6;
    border-radius: 15px;
}

.hero-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #000;
}


.hero-center {
    margin-right: 10px;
    margin-left: 10px;
}

.hero-text {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.hero-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.hero-tiny-img {
    margin-right: 10px;
}

.hero-box-desc {
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61
}

.notification-box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;
    width: 1050px;
    background-color: #ffd7ba;
    border-radius: 10px;
}

.not-text {
    width: 404px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 29px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

}

.not-link {
    width: 149px;
    margin-right: 70px;
    padding: 13px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #F78B3B;
    border-radius: 10px;
}

.world-box {
    display: flex;
}

.world-news-container {
    margin-right: 10px;
}

.world-box-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.world-box-list {
    width: 796px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.world-box-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 17px;
    background-color: #F6F6F6;
    border-radius: 15px;
}

.world-img {
    margin-right: 10px;
}


.world-desc-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.world-desc-text {
    margin-top: 10px;
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.show-more {
    margin-top: 17px;
    padding: 17px 343px;
    background-color: #EAEAEA;
    border-radius: 10px;
}

.show-more-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000;
}

.main-box {
    border-radius: 15px;
    width: 393px;
}

.main-box-start {
    margin-bottom: 10px;
    padding: 1px;
    padding-left: 10px;
    background: #F6F6F6;
    border-radius: 15px;
}

.main-box-title {
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 17px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.main-list {
    margin: 0;
    /* margin-bottom: 10px; */
    padding: 0;
    padding-top: 25px;
    padding-left: 17px;
    list-style: none;
}


.main-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.main-text {
    margin-top: 8px;
    margin-bottom: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;
}

/* footer */

.footer-box {
    margin-top: 100px;
    background-color: #7297EF;
}

.footer-info {
    padding-top: 40px;
}

.box-link {
    padding-top: 40px;
}

.logo-link {
    width: 268px;
    height: 28px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #CECECE;
}

.footer-title {
    width: 229px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer-list {
    margin-top: 45px;
    list-style: none;
}

.footer-item {
    padding-top: 20px;
}

.footer-link {
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    width: 161px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF
}

.footer-list-bottom {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-bottom: 40px;
    list-style: none;
}